@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
}

.admin-apps {
font-family:Calibri, Arial, Helvetica, sans-serif;
padding-left:20px;
}

.admin-apps-col {
float:left;
padding-right:20px;
}

a:link,a:visited,a:hover {
color:#000;
}

#cms-header {
	height: 50px;
	width: 100%;
	background: #5073A2;
}
#cms-header-logo {
	float: left;
	padding-top: 5px;
	width: 237px;
}
#cms-header-view {
	float: left;
	padding-left: 10px;
	padding-top: 22px;
}
.cms-header-right {
	float: right;
	padding: 10px;
}
.cms-header-text {
	color: #FFF;
	font: 700 13px Calibri, Arial, Helvetica, sans-serif;
}

.epn-white a:link, .epn-white a:visited, .epn-white a:active, .epn-white a:hover  { color:#FFFFFF; text-decoration:underline; }
.epn-red a:link, .epn-red a:visited, .epn-red a:active, .epn-red a:hover  { color:#FF0000; text-decoration:underline; }

