<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>cfusion</ServerName><LauncherName>rtf</LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>wwwroot</Mapping-Name><Location>C:/Coldfusion11/cfusion\wwwroot</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion11</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>